@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

.fw-supreme {
  font-family: "Source Code Pro", ui-monospace, monospace !important;
  font-weight: 900 !important;
  -webkit-text-stroke: 0.1px currentColor;
}
